# for jupyter notebooks
ipython
# standard 
math
numpy
pandas
matplotlib
scipy
dataclasses; python_version<"3.7"
json
# ML
torch
jaxtyping
transformers
datasets
tqdm
# interp
transformer_lens
# useful utils 
muutils